<div class="container-fluid">
    <header class="d-flex flex-wrap justify-content-center py-3">
      <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img class="perfil" src="assets/perfil.jpg" alt="">
        <span class="fs-4">Ludake Graphics</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link">INICIO</a></li>
        <li class="nav-item"><a href="carrito" class="nav-link">CARRITO</a></li>
        <li class="nav-item"><a href="ayuda" class="nav-link">AYUDA</a></li>
        <li class="nav-item"><a href="nosotros" class="nav-link">NOSOTROS</a></li>
      </ul>
    </header>
  </div>