<div class="container">
  <div class="mat-card-title"><h1>ROLLOS PARA REGISTRADORA</h1></div>
<mat-grid-list cols="6" rowHeight="1:2">
   <!--producto 1-->
  <mat-grid-tile>
    <div class="card" style="width: 18rem;">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </mat-grid-tile>
  <!--Producto 2-->
  <mat-grid-tile> 
    <div class="card" style="width: 18rem;">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </mat-grid-tile>
  <!--producto 3-->
  <mat-grid-tile>
    <div class="card" style="width: 18rem;">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </mat-grid-tile>
 <!--producto 4-->
  <mat-grid-tile>
    <div class="card" style="width: 18rem;">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </mat-grid-tile>
 <!--producto 5-->
  <mat-grid-tile>
    <div class="card" style="width: 18rem;">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </mat-grid-tile>
 <!--producto 6-->
  <mat-grid-tile>
    <div class="card" style="width: 18rem;">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<!--Otro segmento de productos-->
<div class="mat-card-title"><h1>MATERIALES DE IMPRENTA</h1></div>
<mat-grid-list cols="6" rowHeight="1:2">
   <!--producto 1-->
  <mat-grid-tile>
    <div class="card" style="width: 18rem;">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </mat-grid-tile>
  <!--Producto 2-->
  <mat-grid-tile> 
    <div class="card" style="width: 18rem;">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </mat-grid-tile>
  <!--producto 3-->
  <mat-grid-tile>
    <div class="card" style="width: 18rem;">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </mat-grid-tile>
 <!--producto 4-->
  <mat-grid-tile>
    <div class="card" style="width: 18rem;">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </mat-grid-tile>
 <!--producto 5-->
  <mat-grid-tile>
    <div class="card" style="width: 18rem;">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </mat-grid-tile>
 <!--producto 6-->
  <mat-grid-tile>
    <div class="card" style="width: 18rem;">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<!--Articulos de oficina-->
<div class="mat-card-title"><h1>ARTICULOS DE OFICINA</h1></div>
<mat-grid-list cols="6" rowHeight="1:2">
   <!--producto 1-->
  <mat-grid-tile>
    <div class="card" style="width: 18rem;">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </mat-grid-tile>
  <!--Producto 2-->
  <mat-grid-tile> 
    <div class="card" style="width: 18rem;">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </mat-grid-tile>
  <!--producto 3-->
  <mat-grid-tile>
    <div class="card" style="width: 18rem;">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </mat-grid-tile>
 <!--producto 4-->
  <mat-grid-tile>
    <div class="card" style="width: 18rem;">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </mat-grid-tile>
 <!--producto 5-->
  <mat-grid-tile>
    <div class="card" style="width: 18rem;">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </mat-grid-tile>
 <!--producto 6-->
  <mat-grid-tile>
  <div class="card" style="width: 18rem;">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
</div>