<!--imagen banner-->
<div class="container-fluid">
    <img class="banner" src="assets/bannerChop.jpg" alt="banner">
</div>
<!--carousel-->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        
        <svg class="bd-placeholder-img" width="100%" height="200px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="yellow"></rect></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Trabaja con nosotros!</h1>
            <p>Te interesan las ventas? tienes tiempo libre y ganas de aprender? capacitacion y acompañamiento gratuito y de calidad
              de parte de unos de los mejores en el mercado. Envianos un mail!</p>
            <p><a class="btn btn-lg btn-light" href="nosotros">Ir Contacto</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="200px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="cyan"></rect></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Ofertas & Promociones.</h1>
            <p>Ganale a la inflacion! No te pierdas estos productos con descuento exclusivo, por tiempo limitado!</p>
            <p><a class="btn btn-lg btn-light" href="productos">Ir a Productos</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="200px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="magenta"></rect></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>No sabes como hacer tu compra?</h1>
            <p>En la seccion de ayuda te explicamos como, en simples pasos!</p>
            <p><a class="btn btn-lg btn-light" href="ayuda">Ir a Ayuda</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>